#beer-container {
  width: 66%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#beer-container p {
  font-family: monospace;
  font-size: 2em;
}
